{% extends 'base.html'%}

{% block 'titulo'%}
Curso

{% endblock%}

{% block 'body' %}
<div class="container">
  <br>
  <h1>Aulas do curso:</h1>
  <div class="row">
      

      {% for i in aulas %}

          <div style="margin-top: 20px;" class="col-md">
              <div class="card" style="width: 18rem;">
                <video  controls>
                  <source src="{{i.aula.url}}" type="video/mp4">

                  Your browser does not support the video tag.
                </video>
                  <div class="card-body">
                    <h5 class="card-title">{{i.nome}}</h5>
                    <p class="card-text">{{i.descricao}}</p>
                    <a href="{% url 'aula' i.id %}" class="btn btn-primary">Acessar</a>
                  </div>
                </div>
          </div>
        
      {% endfor %}


  </div>

</div>
{% endblock %}
