{% extends 'base.html' %}

{% block content %}

<main>
    <h2>Name of the program: {{ course.title }}</h2>

    <p>Short description of the course: {{ course.info }}</p>
    <p>Course duration: {{ course.duration_months }}</p>
    <p>Total price: {{ course.price|floatformat:2 }}$</p>

    <h2>Teachers of the course:</h2>

    {% for teacher in teachers %}

        <a href="{% url 'teacher_details' teacher.id %}"> {{ teacher.name }} {{ teacher.surname }}</a>

    {%  endfor %}

    <br>

    <h2>Already studying:</h2>

    {% for student in students %}

        <p>{{ student.name }}</p>

    {% endfor %}

    <h2>Join us!</h2>

    <a href="{% url 'add_course' %}">Apply to the course {{ course.title }}</a>

    <a href="{% url 'main' %}">Go back to the list of courses</a>
</main>

{% endblock %}